body {
	background: #fff url(/images/bkg-page.jpg) no-repeat 0 0;
	padding: 80px 0 0;
	margin: 0;
	line-height: 1.6em;
	font-family: arial,helvetica,verdana,sans-serif;
	font-size: 14px;
	color: #666;
}
#wrapper {
	width: 700px;
	margin-left: 240px;
	text-align: left;
}


a {
	color: #1e8eef;
}
a:hover {
	color: #0661b0;
}
h1 {
	background: url(/images/logo_32x32.png) no-repeat left;
	padding-left: 40px;
	line-height: 32px;
	font-size: 32px;
	color: #000;
}

hr { border: none 0; border-top: 4px solid #eee; height: 1px; margin: 30px 0; padding: 0; }