body {
	background: #fff;
	padding: 80px;
	text-align: center;
	line-height: 1.6em;
	font-family: arial,helvetica,verdana,sans-serif;
	font-size: 14px;
	color: #666;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}
.side {
	width: 180px;
	padding-top: 22px;
	float: left;
}
.content {
	width: 620px;
	float: right;
}

a {
	color: #1e8eef;
}
a:hover {
	color: #0661b0;
}
h1 {
	margin-bottom: 50px;
	font-size: 36px;
	color: #000;
}